<ion-item *ngIf="professor">
    <ion-avatar class="professor">
      <ion-img *ngIf="!professor.ProPicture" alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
      <ion-img *ngIf="professor.ProPicture" alt="Professor picture" [src]="professor.ProPicture"></ion-img>
    </ion-avatar>
    <ion-label>
      <h3>{{professor.ProName}} {{professor.ProSurname}}</h3>
      <p>{{professor.ProAge}}  {{'properties.years' | translate}}</p>
    </ion-label>
    <ion-button class="item-expanded"  slot="end" fill="clear" (click)="onEditClick()">
      <div class="vertical">
        <ion-icon name="create"></ion-icon>
        {{'properties.edit'  | translate | uppercase}}
      </div>
    </ion-button>
    <ion-button class="item-expanded" slot="end" fill="clear" color="danger" (click)="onDeleteClick()">
      <div class="vertical">
        <ion-icon name="trash"></ion-icon>
        {{'properties.delete' | translate | uppercase}}
      </div>
    </ion-button>
  </ion-item>

