<ion-item *ngIf="student">
    <ion-avatar class="student">
      <ion-img *ngIf="!student.StuPicture" alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
      <ion-img *ngIf="student.StuPicture" alt="student picture" [src]="student.StuPicture"></ion-img>
    </ion-avatar>
    <ion-label>
      <h3>{{student.StuName}} {{student.StuSurname}}</h3>
      <p>{{student.StuAge}} {{'properties.years' | translate}}</p>
    </ion-label>
    <ion-button class="item-expanded" slot="end" fill="clear" (click)="onEditClick()">
      <div class="vertical">
        <ion-icon name="create"></ion-icon>
        {{'properties.edit' | translate | uppercase}}
      </div>
    </ion-button>
    <ion-button class="item-expanded" slot="end" fill="clear" color="danger" (click)="onDeleteClick()">
      <div class="vertical">
        <ion-icon name="trash"></ion-icon>
        {{'properties.delete' | translate | uppercase}}
      </div>
    </ion-button>
  </ion-item>
