<ion-content>
  <ion-card>
    <ion-card-content class="content">
      <img class="imagen" src="../assets/images/Yo.jpeg"/>
      <p>{{'AboutMe.text' | translate}}</p>
    </ion-card-content>
    <ion-list>
        <ion-item href="https://github.com/Alvaroskill">
          <ion-icon name="logo-github" slot="start"></ion-icon>
          GitHub
        </ion-item>
        <ion-item href="https://twitter.com/alvarolinero">
          <ion-icon name="logo-twitter" slot="start"></ion-icon>
          Twitter
        </ion-item>
      </ion-list>
  </ion-card>
</ion-content>
